.photos {
  width: fit-content;
  margin: 120px auto;
  animation: opacity 1s ease-in;

  &.single-view {
    flex-direction: column;
  }

  .photo {
    margin: 1em;
  }
}

// Supports ------------------------------------------------------------------------------------------------------------

@supports (display: grid) {
  .photos {
    display: grid !important;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 2vw;

    &.single-view {
      grid-template-columns: 1fr;
      grid-gap: 5vw;
    }

    .photo {
      margin: unset;
    }
  }
}

// Animations ----------------------------------------------------------------------------------------------------------

@keyframes opacity {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
