.card-container {
  width: var(--card-length);
  max-width: 300px;
  max-height: 300px;
  height: var(--card-length);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

.photo {
  display: flex;
  flex-direction: column;
  transition: transform .1s linear;

  &.inactive {
    background: linear-gradient(359deg, #7c7f7e , #a7a4a4 );
    background-size: 400% 400%;
    animation: backgroundPosition 1s ease infinite;
  }

  &:hover {
    transform: scale(1.025, 1.025);
    cursor: pointer;
  }
}

.buttons {
  display: flex;
  justify-content: center;
  color: var(--icon-color);
  background-color: var(--elevation-3);

  .bp3-icon {
    padding: 8px;

    &:hover {
      cursor: pointer;
    }
  }

  .favorite {
    color: yellow;
  }
}

@media (max-width: 400px) {
  .card-container {
    max-width: unset;
    max-height: unset;
  }
}

// Animations ----------------------------------------------------------------------------------------------------------

@keyframes backgroundPosition {
  0%{background-position:49% 0}
  50%{background-position:52% 100%}
  100%{background-position:49% 0}
}

